{% extends 'articles/base.html' %}
{% block title %}关于我-周军民个人博客{% endblock %}
{% block banner %}{% endblock %}
{% block lbox %}
  <div class="whitebg about">
    <div class="ab_box"> <i class="avatar_pic"><img src="images/avatar.jpg"></i>
      <h3>周军民</h3>
      <p>一个90后草根站长！Web后端、爬虫开发工程师。</p>
      <p>一个对Python有非常热爱的屌丝。</p>
    </div>
{#    <h2 class="gd_title">内心独白</h2>#}
{#    <p class="ab_dubai">我叫周军民，14年入行。我一直潜心研究网页前端技术，一边工作一边积累经验，分享一些个人博客模板，以及网站优化等心得。我入行早，大家也亲切的叫我“青姐”。我的个人博客搜索“个人博客”、“博客”，一直都靠前。最有意思的是，我有三年的时间没有去更新它，依然排在前面。虽然期间有很多的不容易，但是我都没有放弃过。选了这一行 ，就深深的喜欢上它。我喜欢一句话“冥冥中该来则来，无处可逃”。我喜欢上了前端设计，喜欢坐在电脑前敲代码，喜欢跟一堆程序员聊天。这辈子，我也逃不出去了，深深的陷了进来。 </p>#}
{#    <span class="ly_button"><a href="http://www.yangqq.com/e/tool/gbook/?bid=1" target="_blank">留言</a></span>#}
  </div>
{% endblock %}
{% block rbox %}{% endblock %}
