{% extends 'articles/base.html' %}
{% load staticfiles %}
{% block title %}{{ article.title }}{% endblock %}
<body>
<!--top begin-->

<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox">
  {% block banner %}{% endblock %}
      {% block lbox %}
        <div class="content_box whitebg">
      <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="/">网站</a>><a href="/">{{ article.title }}</a></span>个人博客模板</h2>
      <h1 class="con_tilte">{{ article.title }}</h1>
      <p class="bloginfo"><i class="avatar"><img src="images/avatar.jpg"></i><span>周军民</span><span>{{ article.create_time }}</span><span>【<a href="/">{{ article.cat_id.cat_name }}</a>】</span><span>{{ article.r_number }}人已围观</span></p>
      <p class="con_info"><b>简介</b>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</p>
      <div class="con_text">
           {% autoescape off %}
			{{ article.content }}
           {% endautoescape %}
{#        <p><span class="diggit">很赞哦！ (74)</span></p>#}
        <div class="nextinfo">
            {% if up_article %}
            <p>上一篇：<a href="{% url 'article:info' up_article.ar_id %}">{{ up_article.title }}</a></p>
            {% endif %}
            {% if next_article %}
            <p>下一篇：<a href="{% url 'article:info' next_article.ar_id %}">{{ next_article.title }}</a></p>
            {% endif %}
        </div>
      </div>
    </div>
          <div class="whitebg">
      <h2 class="htitle">相关文章</h2>
      <ul class="otherlink">
          {% for foo in relevant_article %}
          <li><a href="{% url 'article:info' foo.ar_id %}" title="{{ foo.title }}">{{ foo.title }}</a></li>
          {% endfor %}
      </ul>
    </div>

{#    <div class="whitebg gbook">#}
{#      <h2 class="htitle">文章评论</h2>#}
{#      <ul>#}
{#      </ul>#}
{#    </div>#}
  </div>
      {% endblock %}


  <!--lbox end-->
{#{% block rbox %}#}
{#    <div class="rbox">#}
{#    <div class="whitebg paihang">#}
{#      <h2 class="htitle">点击排行</h2>#}
{#      <section class="topnews imgscale"><a href="/"><img src="{% static 'images/h1.jpg' %}"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>#}
{#      <ul>#}
{#        <li><i></i><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>#}
{#        <li><i></i><a href="/">用js+css3来写一个手机栏目导航</a></li>#}
{#        <li><i></i><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>#}
{#        <li><i></i><a href="/">三步实现滚动条触动css动画效果</a></li>#}
{#        <li><i></i><a href="/">个人博客，属于我的小世界！</a></li>#}
{#        <li><i></i><a href="/">安静地做一个爱设计的女子</a></li>#}
{#        <li><i></i><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>#}
{#        <li><i></i><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>#}
{#      </ul>#}
{#    </div>#}
{#    <div class="whitebg tuijian">#}
{#      <h2 class="htitle">本栏推荐</h2>#}
{#      <section class="topnews imgscale"><a href="/"><img src="{% static 'images/h2.jpg' %}"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>#}
{#      <ul>#}
{#        <li><a href="/"><i><img src="images/text01.jpg"></i>#}
{#          <p>十条设计原则教你学会如何设计网页布局!</p>#}
{#          </a></li>#}
{#        <li><a href="/"><i><img src="images/text02.jpg"></i>#}
{#          <p>用js+css3来写一个手机栏目导航</p>#}
{#          </a></li>#}
{#        <li><a href="/"><i><img src="images/text03.jpg"></i>#}
{#          <p>6条网页设计配色原则,让你秒变配色高手</p>#}
{#          </a></li>#}
{#        <li><a href="/"><i><img src="images/text04.jpg"></i>#}
{#          <p>三步实现滚动条触动css动画效果</p>#}
{#          </a></li>#}
{#        <li><a href="/"><i><img src="images/text05.jpg"></i>#}
{#          <p>个人博客，属于我的小世界！</p>#}
{#          </a></li>#}
{#      </ul>#}
{#    </div>#}
{#    <div class="ad whitebg imgscale">#}
{#      <ul>#}
{#        <a href="/"><img src="{% static 'images/ad.jpg' %}"></a>#}
{#      </ul>#}
{#    </div>#}
{#    <div class="whitebg cloud">#}
{#      <h2 class="htitle">标签云</h2>#}
{#      <ul>#}
{#        <a href="" target="_blank">PYTHON</a>#}
{#          <a href="" target="_blank">Django</a>#}
{#          <a href="" target="_blank">Scrapy</a>#}
{#          <a href="" target="_blank">Redis</a>#}
{#          <a href="" target="_blank">Mysql</a>#}
{#          <a href="" target="_blank">大数据</a>#}
{#          <a href="" target="_blank">服务器监控</a>#}
{#          <a href="" target="_blank">程序员</a>#}
{#          <a href="" target="_blank">个人博客</a>#}
{#          <a href="" target="_blank">网页设计</a>#}
{#      </ul>#}
{#    </div>#}
{##}
{#    <div class="ad whitebg imgscale">#}
{#      <ul>#}
{#        <a href="/"><img src="{% static 'images/ad02.jpg' %}"></a>#}
{#      </ul>#}
{#    </div>#}
{#    <div class="whitebg tongji">#}
{#      <h2 class="htitle">站点信息</h2>#}
{#      <ul>#}
{#        <li><b>建站时间</b>：2019-04-10</li>#}
{#        <li><b>网站程序</b>：python</li>#}
{#        <li><b>文章统计</b>：299条</li>#}
{#        <li><b>文章评论</b>：490条</li>#}
{#        <li><b>统计数据</b>：<a href="/">百度统计</a></li>#}
{#        <li><b>微信公众号</b>：扫描二维码，关注我们</li>#}
{#        <img src="{% static 'images/wxgzh.jpg' %}" class="tongji_gzh">#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}

</article>

